body {
	background-image: url(../image/back.jpg);
	background-position: top right;
	background-attachment: fixed;
}

li a {
	color: deeppink;
	font-size: 18px;
	background-color: green;
	font-style: italic;
}

.pink a {
	color: deeppink;
	font-size: 18px;
	background-color: white;
	font-style: italic;
}

h2 {
	color: darkseagreen;
	font-size: 20px;
}