body {
	background-image: url(../image/back.jpg);
	background-position: top right;
	background-attachment: fixed;
}

ul li a {
	color: deeppink;
	font-size: 18px;
	background-color: white;
	font-style: italic;
}

.pink a {
	color: deeppink;
	font-size: 18px;
	background-color: white;
	font-style: italic;
}