body {
	background-image: url(../image/back.jpg);
	background-position: top right;
	background-attachment: fixed;
}

li a {
	color: deeppink;
	font-size: 18px;
	background-color: green;
	font-style: italic;
}

.pink a {
	color: deeppink;
	font-size: 18px;
	background-color: white;
	font-style: italic;
}

h2 {
	color: darkseagreen;
	font-size: 22px;
	font-style: oblique;
}

.none a {
	text-decoration: none;
}
.none a:hover {
	text-decoration: underline;
	color: red;
}

.grey a {
	text-decoration: underline;
	color: grey;
}

.center1 {
	text-align: center;
}

.bigred:first-letter {
	color: red;
	font-size: 26px;
	font-style: italic;
}

.satellite li:before {
	content:"";
	display: inline-block;
	background: url(../image/114904.png);
	width: 50px;
	height: 50px;
}

.satellite .picsat:after {
	content:"";
	display: inline-block;
	background: url(../image/new.png);
	width: 40px;
	height: 27px;
}

body.back4 {
	background-image: url(../image/15016.jpg);
	background-position: top left;
	background-repeat: repeat;
	background-attachment: fixed;
}
img.border4 {
	border-style: dashed;
	border-color: red;
	border-width: 5px;
}

input.sizefor {
	width: 30%;
	padding: 10px 45px;
	box-sizing: border-box;
	background-color: mintcream;
	background-image: url(../image/keyboard.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

input#password {
	width: 20%;
	padding: 7px 10px;
	box-sizing: border-box;box-sizing: border-box;
	background-color: mintcream;
	background-image: url(../image/keyboard2.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

input#adressweb {
	width: 25%;
	padding: 7px 10px;
	box-sizing: border-box;
}